.body{
    margin:0;
    min-height: 100vh;
    background-image: url(../assets/wallpaper.png);
    background-position: center;
    background-size:cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem
}

.card{
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(90, 90, 90, 0.518);

    padding-top: 1rem;
    gap: 1rem;
}

.header{
    display: flex; 
}
.header__image-container{
    max-width: 180px;
    display: flex;
    margin:0;
}
.header__profile-image{
    width: 100%;
    border-radius: 50%;
}

.article-container{
    margin:0;
    box-sizing: border-box;
    max-width: 365px;
    text-align: center;
    padding: 0rem 2rem; 
}

.article__card-title{
    margin-top: 0;
    margin-bottom: 1rem;
}

.footer{
    width: 100%;
    background-color: rgba(137, 137, 137, 0.304);
    display: flex;
}
.footer-nav{
    display: flex;
    width: 100%;
}
.footer-nav-container{
    display: flex;
    width: 100%;
}
.footer-nav__link-list{
    width: 100%;
    padding:0;
    display: flex;
    justify-content: space-evenly;
}
.footer-nav__link-item{
    list-style: none;
    transition: transform 1s ease;
}
.footer_nav-link{
    font-size: 2rem;
    color:#333;
    transition: color 0.5s ease;
}

.footer_nav-link:hover{
    color:rgb(110, 110, 110);
}
.footer-nav__link-item:hover{
    transform: rotate(360deg);
}

.text--big{
    font-size: 1.3rem;
}
.text--medium{
    font-size: 1.0rem;
}
.text--small{
    font-size: 0.9rem;
}


